//- The main layout for  all pages

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Positivus. Digital Marketing Agency
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/styles.css")
        block seo
    body 

        include ../helpers/vars
        include ../helpers/mixins

        include ../components/svg_sprite 
        .wrapper
            include ../components/header 

            main.main 
                block content


            include ../components/footer

        script(src="js/scripts.js") 