//- Header for all pages
include ../helpers/mixins
header.header
    //-header
    .header-menu 
        .logo 
            img.logo-img(src="img/logo.svg", alt="Logo Positivus")
        .header-menu-burger-menu
            .header-menu-burger-menu__button
                svg 
                    use(xlink:href="#iconamoon--menu-burger-horizontal-bold")
            .header-menu-burger-menu__content
                button.header-menu-burger-menu__button--close
                .header-menu-content
                    nav.header-menu-content-nav-menu
                        a.header-menu-content-nav-menu__link.link(href="#") Services
                        a.header-menu-content-nav-menu__link.link(href="#") About us
                        a.header-menu-content-nav-menu__link.link(href="#") Use Cases
                        a.header-menu-content-nav-menu__link.link(href="#") Pricing
                        a.header-menu-content-nav-menu__link.link(href="#") Blog
                    a.header-menu__button(href="#") Request a quote
        .header-menu-content
            nav.header-menu-content-nav-menu
                a.header-menu-content-nav-menu__link.link(href="#") Services
                a.header-menu-content-nav-menu__link.link(href="#") About us
                a.header-menu-content-nav-menu__link.link(href="#") Use Cases
                a.header-menu-content-nav-menu__link.link(href="#") Pricing
                a.header-menu-content-nav-menu__link.link(href="#") Blog
            a.header-menu__button(href="#") Request a quote
    .header-main
        .header-content 
            +heading_paragraph_button("header-content","h1","Navigating the digital landscape for success","Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.","Book a consultation","yes")
        .header-main-illustration
            img.header-main-illustration-img.ill-bl(src="img/header_Illustration.png", alt="")
    .header-slider 
        .header-slider-slide-row 
            a(href="https://www.amazon.com/") 
                img.header-slider-slide-row-slide(src="img/amazon.png", alt="")
            a(href="https://dribbble.com/") 
                img.header-slider-slide-row-slide(src="img/dribble.png", alt="")
            a(href="https://www.hubspot.com/") 
                img.header-slider-slide-row-slide(src="img/hubspot.png", alt="")
            a(href="https://www.notion.com/") 
                img.header-slider-slide-row-slide(src="img/notion.png", alt="")
            a(href="https://www.netflix.com/") 
                img.header-slider-slide-row-slide(src="img/netflix.png", alt="")
            a(href="https://zoom.us/") 
                img.header-slider-slide-row-slide(src="img/zoom.png", alt="")
