//- Header for all pages
include ../helpers/mixins
header.header
    .header-content.wrapper
        +menu("logo.png", "header", "#", "header-menu__button--primary")
        +heading("heading","light","SOCIAL MARKETING & ANALYTICS","Pricing Table")
        .header__button
            a.header__button-scrole
                svg
                    use(xlink:href="#arrow")