svg(width="0" height="0" class="hidden")
    <symbol id="iconamoon--menu-burger-horizontal-bold" viewBox="0 0 24 24"><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M3 6h18M3 12h18M3 18h18"/></symbol>    
    <symbol id="services-arrow" viewBox="0 0 21 20" fill="none">
    <path fill="#b9ff66" d="M1.25 13.701a1.5 1.5 0 1 0 1.5 2.598zm19.52-8.313a1.5 1.5 0 0 0-1.061-1.837L6.669.057a1.5 1.5 0 1 0-.777 2.898L17.483 6.06l-3.105 11.59a1.5 1.5 0 0 0 2.897.777zM2.75 16.3l17.32-10-1.5-2.598-17.32 10z"/>
    </symbol>
    <symbol id="dark-arrow" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.25005 13.701C0.532607 14.1152 0.286794 15.0326 0.701008 15.75C1.11522 16.4674 2.03261 16.7133 2.75005 16.299L1.25005 13.701ZM20.7694 5.38823C20.9839 4.58803 20.509 3.76552 19.7088 3.55111L6.66878 0.0570541C5.86858 -0.157359 5.04608 0.317515 4.83167 1.11771C4.61725 1.91791 5.09213 2.74042 5.89233 2.95483L17.4834 6.06066L14.3776 17.6518C14.1632 18.452 14.6381 19.2745 15.4383 19.4889C16.2385 19.7033 17.061 19.2284 17.2754 18.4282L20.7694 5.38823ZM2.75005 16.299L20.0706 6.29904L18.5706 3.70096L1.25005 13.701L2.75005 16.299Z" fill="black"/>
    </symbol>
    