//- Homepage
extends templates/layout 

block seo 
    //- SEO content

block content 
    +section-heading("Services","At our digital marketing agency, we offer a range of services<br>to help businesses grow and succeed online. These services include:")
    .services-cards
        +services_card("<span class='services-card-heading-span'>Search engine</span><br><span class='services-card-heading-span'>optimization</span>","img/services_card_photo.png",'grey')
        +services_card("<span class='services-card-heading-span services-card-heading-span-green'>Pay-per-click</span><br><span class='services-card-heading-span services-card-heading-span-green'>advertising</span>","img/pay-per-click.png",'green')
        +services_card("<span class='services-card-heading-span services-card-heading-span-dark'>Search engine</span><br><span class='services-card-heading-span services-card-heading-span-dark'>optimization</span>","img/social_media.png",'dark')
        +services_card("<span class='services-card-heading-span'>Search engine</span><br><span class='services-card-heading-span'>optimization</span>","img/services_card_photo.png",'grey')
        +services_card("<span class='services-card-heading-span services-card-heading-span-green'>Pay-per-click</span><br><span class='services-card-heading-span services-card-heading-span-green'>advertising</span>","img/content_creation.png",'green')
        +services_card("<span class='services-card-heading-span services-card-heading-span-dark'>Search engine</span><br><span class='services-card-heading-span services-card-heading-span-dark'>optimization</span>","img/analytics.png",'dark')