//- Homepage
extends templates/layout 

block seo 
    //- SEO content

block content 
    +section-heading("Services","At our digital marketing agency, we offer a range of services<br>to help businesses grow and succeed online. These services include:")